* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("QVFUaZP.jpg");
    background-size: 100% 100%;
}

#area {
    width:700px;
    height: 500px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url("mironovak150500116.jpg");
    background-size: 100% 100%;
    border: 2px solid darkred;
    box-shadow: 1px 3px 40px darkred;
    position: relative;
}
#ball{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 0;

}
#wood{
    width: 100px;
    height: 23px;
    background-color: navy;
    border: 2px solid yellow;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#score{
    width: 70px;
    height: 70px;
    background-color: navy;
    color: yellow;
    font-size: 30px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    text-align: center;
    border: 1px solid yellow;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
#span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}